{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} E-Shop | Sell your product{% endblock %}


{% block body %}

<div class="">
    
<form method="POST"  action="." enctype="multipart/form-data">
  

    {% csrf_token %}

  <!-- component -->

<div class="flex items-center justify-center p-12">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="mx-auto w-full max-w-[550px] bg-white">
      <form
        class="py-6 px-9"
        action=""
        method="POST"
      >
        <div class="mb-5">
          <label
            for="name"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Name of the product:
          </label>
          <div class="form-group">
            <div class="text-red-500 text-xs italic">{{form.errors.name}}</div>
            {% render_field form.name class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"  type="text" %}
            </div>
        </div>

        <div class="mb-5">
            <label
              for="name"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
              Price:
            </label>
            <div class="form-group">
              <div class="text-red-500 text-xs italic">{{form.errors.price}}</div>

              {% render_field form.price class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"  type="text" %}
              </div>
          </div>

          <div class="text-red-500 text-xs italic">{{form.errors.image}}</div>


          {% render_field form.image id="hidden-input"  class="form-control" %}
          
          <div class="mb-5">
            <label
              for="id_discription"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
              Discription:
            </label>
            <div class="form-group">

              {% render_field form.discription class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"  type="text" %}
              </div>
          </div>
  <div class="text-red-500 text-xs italic">{{form.non_field_errors}} </div>

  
          <button  type="submit" id="submit"
            class="hover:shadow-form w-full rounded-md bg-blue-500 py-3 px-8 text-center text-base font-semibold text-white outline-none mb-3"
          >
          Post
          </button>
          <a href="/"  type="button" id="Cancel"
          class="hover:shadow-form w-full rounded-md bg-gray-400 py-3 px-8 text-center text-base font-semibold text-white outline-none mb-3"
        >
        Cancel
        </a>
        </div>
      </form>

      {{form.media}}
    </div>



{% endblock %}

